.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

ion-footer {
  text-align: center;
  padding: 0;
  p {
    color: var(--ion-color-darkmint);
    font-size: 0.9em;
    span {
      color: var(--ion-color-important);
      font-size: 1.3em;
    }
  }
}

ion-item {
  margin-bottom: 1px;
  &.input-ligne,
  &.input-colonne {
    border-bottom: 1px solid #dedede;
  }
}

ion-card {
  background: #fff7f9;
  margin: 0 0 1.5rem;
  ion-icon,
  ion-label {
    color: var(--ion-color-important);
  }
}

ion-list-header {
  color: var(--ion-color-mediummint);
  text-transform: unset;
}

.ng-invalid:not(form) {
  color: var(--ion-color-important);
}

.ng-valid:not(form) {
  color: var(--ion-color-mediummint);
}
