<ion-header>
  <ion-toolbar color="darkmint">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> My HandCraft Beads </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Veuillez sélectionner la taille du diagramme :
    </ion-list-header>

    <ion-item>
      <ion-label floating>Nombre de lignes :</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="ligne"
        required="true"
        clearInput="true"
        min="1"
        max="100"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Nombre de colonnes :</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="colonne"
        required="true"
        clearInput="true"
        min="1"
        max="100"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-list radio-group>
    <ion-list-header>
      Veuillez sélectionner le type de tissage :
    </ion-list-header>

    <ion-item>
      <ion-label>Loom</ion-label>
      <ion-radio value="loom"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Brickstitch / Peyote </ion-label>
      <ion-radio value="brickstitch"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-button
    color="mediummint"
    fill="outline"
    float-right
    (click)="goToGrille()"
  >
    <ion-icon name="create"></ion-icon> Tissez !
  </ion-button>
</ion-content>

<ion-footer padding>
  <p>&copy; 2019 - Create with &hearts; by Marie-Louise Bernard</p>
</ion-footer>
